{% extends 'common/base.html' %}

{% block content %}
<p>
    <form mothod="POST">
        <!-- 新規作成 -->
        <a href="{% url 'anime_new' %}" class="btn btn-primary">
            new create
        </a>
        <!-- ダウンロード -->
        <button type="submit" name="download" class="btn btn-success">download</button>
        <!-- 全件表示 -->
        <button type="submit" name="all" class="btn btn-info">show all</button>
    </form>
</p>
<div class="post">
    <!-- 一覧 -->
    <table class="table table-striped table-hober table-condensed table-sm">
        <thread class="sticke-top table-dark" style="z-index:1">
            <tr>
                <th>タイトル</th>
                <th>放送期間</th>
                <th>更新日</th>
                <th></th>
            </tr>
        </thread>
        <tbody>
            {% for anime in animes %}
            <tr>
                <td><a href="{% url 'anime_edit' pk=anime.id %}">{{ anime.title }}</a></td>
                <!-- <td>{{ anime.dtStart }}～{{ anime.dtEnd }}</td> -->
                <td>{{ anime.period.year }} {{ anime.period.season }}</td>
                <td>{{ anime.dtUpdate }}</td>
                <td><input type="hidden" value="{{ anime.keyword }}"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
            

        