{% extends 'common/base.html' %}
{% load static %}
{% block content %}
<section class="secion">

  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <form method="POST">
            <a href="{% url 'shutdown' %}" class="btn btn-secondary">shutdown</a>
            <a href="{% url 'sleep' %}" class="btn btn-warning">sleep</a>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Anime downloaded list -->
    <div class="row_col">
      <div class="card">
        <div class="card-body">
          <table class="table table-sm table-striped">
            <thead class="">
              <tr>
                <th>anime lastest downloaded title</th>
              </tr>
            </thead>
            <tbody>
              {% for anime in animeTorrents %}
              <tr>
                <td>{{ anime.group.title }}（{{ anime.episode }}）</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- End Anime downloaded list -->

    <!-- Book downloade list -->
    <div class="row_col">
      <div class="card">
        <div class="card-body">
          <table class="table table-sm table-striped">
            <thead class="">
              <tr>
                <th>book latest downloaded title</th>
              </tr>
            </thead>
            <tbody>
              {% for book in bookTorrents %}
              <tr>
                <td>{{ book.book_name }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- End Book downloade list -->

  </div>
</section>
{% endblock %}