<configuration>
  <appSettings>
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <add key="PYTHONPATH" value="D:\todoapps" />
    <add key="DJANGO_SETTINGS_MODULE" value="config.settings.base" />
  </appSettings>
  <system.webServer>
    <handlers>
            <add name="bat" path="*.bat" verb="*" modules="CgiModule" scriptProcessor="c:\windows\system32\cmd.exe /c %s %s" resourceType="File" requireAccess="Script" />
        <add name="Python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="&quot;D:\todoapps\todovenv\Scripts\python.exe&quot; %s %s" resourceType="File" />
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python\python.exe|C:\Python\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>