.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 25px;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
    margin-left: 30px;
    margin-top: 10px;
}
.page-header {
    background-color: #C25100;
    margin-top: 0;
}

.content {
    margin-left: 40px;
}

.h1, h2, h3, h4 {
    font-family: 'Varela Round', sans-serif;
}

.date {
    color: #828282;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.save {
    float: right;
}

/*サイドメニュー用*/
 @import url('https://fonts.googleapis.com/css?family=Varela+Round');
 html, body {
     overflow-x: hidden;
     height: 100%;
 }
 body {
     background: #fff;
     padding: 0;
     margin: 0;
     font-family: 'Varela Round', sans-serif;
 }
 .header {
     display: block;
     margin: 0 auto;
     width: 100%;
     max-width: 100%;
     box-shadow: none;
     background-color: #FC466B;
     position: fixed;
     height: 50px!important;
     overflow: hidden;
     z-index: 10;
 }
 .main {
     margin: 0 auto;
     display: block;
     height: 100%;
     margin-top: 60px;
 }
 .mainInner{
     display: table;
     height: 100%;
     width: 100%;
     text-align: center;
 }
 .mainInner div{
     display:table-cell;
     vertical-align: middle;
     font-size: 3em;
     font-weight: bold;
     letter-spacing: 1.25px;
 }
 #sidebarMenu {
    z-index: 1;
     height: 100%;
     position: fixed;
     left: 0;
     width: 250px;
     margin-top: 50px;
     transform: translateX(-250px);
     transition: transform 250ms ease-in-out;
     background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%);
 }
 .sidebarMenuInner{
     margin:0;
     padding:0;
     border-top: 1px solid rgba(255, 255, 255, 0.10);
 }
 .sidebarMenuInner li{
     list-style: none;
     color: #fff;
     text-transform: uppercase;
     font-weight: bold;
     padding: 20px;
     cursor: pointer;
     border-bottom: 1px solid rgba(255, 255, 255, 0.10);
 }
 .sidebarMenuInner li span{
     display: block;
     font-size: 14px;
     color: rgba(255, 255, 255, 0.50);
 }
 .sidebarMenuInner li a{
     color: #fff;
     text-transform: uppercase;
     font-weight: bold;
     cursor: pointer;
     text-decoration: none;
 }
 input[type="checkbox"]:checked ~ #sidebarMenu {
     transform: translateX(0);
 }
 
 input[type=checkbox] {
     transition: all 0.3s;
     box-sizing: border-box;
     display: none;
 }
 .sidebarIconToggle {
     transition: all 0.3s;
     box-sizing: border-box;
     cursor: pointer;
     position: absolute;
     z-index: 99;
     height: 100%;
     width: 100%;
     top: 15px;
     left: 15px;
     height: 22px;
     width: 22px;
 }
 .spinner {
     transition: all 0.3s;
     box-sizing: border-box;
     position: absolute;
     height: 3px;
     width: 100%;
     background-color: #fff;
 }
 .horizontal {
     transition: all 0.3s;
     box-sizing: border-box;
     position: relative;
     float: left;
     margin-top: 3px;
 }
 .diagonal.part-1 {
     position: relative;
     transition: all 0.3s;
     box-sizing: border-box;
     float: left;
 }
 .diagonal.part-2 {
     transition: all 0.3s;
     box-sizing: border-box;
     position: relative;
     float: left;
     margin-top: 3px;
 }
 input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
     transition: all 0.3s;
     box-sizing: border-box;
     opacity: 0;
 }
 input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
     transition: all 0.3s;
     box-sizing: border-box;
     transform: rotate(135deg);
     margin-top: 8px;
 }
 input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
     transition: all 0.3s;
     box-sizing: border-box;
     transform: rotate(-135deg);
     margin-top: -9px;
 }
 /* 画像  */
 .on_img {
    width: 200px;        /* 画像の横幅（自由に指定） */
    position: relative;  /* 帯の表示位置の基準とする */
  }
  
  .on_img img {
    width: 100%;
  }
  
  .on_img p {
    color: #fff;
    font-size:13px;
    margin-bottom: 0px;
    text-align: center;
    width: 100%;         /* 画像の幅に合わせるため */
    padding: 10px 0;
    position: absolute;  /* relativeの要素を基準にする */
    left: 0;             /* 基準からみて左寄せ */
    bottom: 0;           /* 基準からみて下寄せ */
    background: rgba(0,0,0,0.5);  /* 半透明の背景。 */
  }