{% extends 'common/base.html' %}
{% block content %}

<h2>{{ workbook.name }}</h2>

<!-- タブパネル -->
<ul class="nav nav-tabs" id="tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active"
           id="edit-tab"
           data-bs-toggle="tab"
           href="#edit"
           role="tab"
           aria-controls="edit"
           aria-selected="true">Edit</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link"
           id="image-tab"
           data-bs-toggle="tab"
           href="#image"
           role="tab"
           aria-controls="image"
           aria-selected="true">Image</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="edit" role="tabpanel" aria-labeledby="edit-tab">
        <form method="POST" class="post-form">
            {% csrf_token %}
            {{ form.as_p }}
        
            <button type="submit" name="save" class="btn btn-primary">Save</button>
            <button type="submit" name="delete" class="btn btn-secondary">Delete</button>
            <button type="submit" name="next" class="btn btn-success">Next</button>
            <a href="{% url 'create_list' %}" class="save btn btn-outline-dark">back</a>
        </form>
        <p>
            <table id="BookList" class="table table-striped table-hober table-condensed table-sm">
                <thread class="sticke-top table-dark" style="z-index:1">
                    <tr>
                        <th>story_by</th>
                        <th>art_by</th>
                        <th>title</th>
                        <th>sub_title</th>
                    </tr>
                </thread>
                <tbody id="booklistbody">
                    {% for info in bookinfo %}
                    <tr>
                        <td>{{ info.story_by }}</td>
                        <td>{{ info.art_by }}</td>
                        <td>{{ info.title }}</td>
                        <td>{{ info.sub_title }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </p>
    </div>
    <div class="tab-pane fade" id="image" role="tabpanel" aria-labelledby="image-tab">
        <div class="row">
            {% for image in images %}
            <div class="col-sm-3 on_img">
                <img src="{{ image.img_link }}" class="float-left img-fluid">
            </div>
            {% endfor %}
        </div>
        <div>
            <iframe src="{{ pdf }}" width="100%" height="80%"></iframe>
        </div>
    </div>
</div>

<script src="https://riversun.github.io/jsframe/jsframe.js"></script>
<script>
    const jsFrame = new JSFrame();
    jsFrame.showToast({
        html: 'This is a simple toast test', align: 'top', duration: 2000
    });

    // 行クリックの動作イベントの設定
    $('td').on('click', function () {
        var tr = $(this).closest('tr').children();
        var StoryBy = tr[0].innerText;
        var ArtBy = tr[1].innerText;
        var Title = tr[2].innerText
        var SubTitle = tr[3].innerText
        
        $('input[id=id_story_by]').val(StoryBy);
        $('input[id=id_art_by]').val(ArtBy);
        $('input[id=id_title]').val(Title);
        $('input[id=id_sub_title]').val(SubTitle);
    });

    $('#id_story_by,#id_art_by,#id_title,#sub_title').on('change', function(){
        console.log('change');

        var genrueID = $('select[name*=genrue_name]').val();
        var title = $('input[id*=title').val();
        var subTitle = $('input[id*=sub_title').val();
        
        var csrf_token = getCookie("csrftoken");
        /// タイトル一覧の取得
        event.preventDefault();
        $.ajax({
            'url': '{% url "book_info" %}',
            'type': 'POST',
            'data': {
                'genrueID': genrueID,
                'title': title,
                'subTitle': subTitle,
            },
            'dataType': 'json',
            // 送信前にヘッダにcsrf_tokenを付与。
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            },
        }).done(function (data) {
            $('#booklistbody > tr').remove()

            data.forEach(function (element) {
                $('#booklistbody').append('<tr><td>'+element.story_by+'</td><td>'+element.art_by+'</td><td>'+element.title+'</td><td>'+element.sub_title+'</td></tr>');
            });
            $('td').on('click', function () {
                var tr = $(this).closest('tr').children();
                var StoryBy = tr[0].innerText;
                var ArtBy = tr[1].innerText;
                var Title = tr[2].innerText
                var SubTitle = tr[3].innerText
                
                $('input[id=id_story_by]').val(StoryBy);
                $('input[id=id_art_by]').val(ArtBy);
                $('input[id=id_title]').val(Title);
                $('input[id=id_sub_title]').val(SubTitle);
            });
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            console.log('------XMLHttpRequest-----');
            console.log(XMLHttpRequest);
            console.log('-----textStatus-----');
            console.log(textStatus);
            console.log('-----errorThrown-----');
            console.log(errorThrown);
            $('#MessageView').load('~/Views/Shared/Message');
        });
    });         
           
</script>        
{% endblock %}
