{% extends 'common/base.html' %}
{% load widget_tweaks %}
{% block content %}

<!-- Page Title -->
<div class="pagetitle">
    <h1>{{ workbook.name }}</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/book/create/">Create</a></li>
            <li class="breadcrumb-item active">Editor</li>
        </ol>
    </nav>
</div>
<!-- #Page Title -->

<!-- Error Message -->
{% if messages %}
<div class="card">
    <div class="card-body">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <i class="bi bi-exclamation-octagon me-1"></i>
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>
{% endif %}
<!-- #Error Message -->

<div class="row">
    <div class="row_col">
        <div class="card">
            <div class="card-body">
                <!-- フォーム -->
                <form method="POST" class="post-form row g-3">
                    {% csrf_token %}
                    <!-- {{ form.as_p }} -->
                    <div class="col-md-12">
                        {{ form.genrue_name | add_class:'form-select' }}
                    </div>
                    <div class="col-md-6">
                        {{ form.story_by | add_class:'form-control' }}
                    </div>
                    <div class="col-md-6">
                        {{ form.art_by | add_class:'form-control' }}
                    </div>
                    <div class="col-md-12">
                        {{ form.title | add_class:'form-control' }}
                    </div>
                    <div class="col-md-12">
                        {{ form.sub_title | add_class:'form-control' }}
                    </div>
                    <div class="col-md-3">
                        {{ form.volume | add_class:'form-control' }}
                    </div>
                    <div class="text-center">
                        <input type="hidden" name="submit_token" value="{{ request.session.submit_token }}" class="input_box">
                        <button type="submit" name="save" class="btn btn-primary">Save</button>
                        {% if 'library' in request.path %}
                        <button type="submit" name="delete" class="btn btn-secondary">Delete</button>
                        <button type="submit" name="next" class="btn btn-success">Next</button>
                        <button type="submit" name="back" class="save btn btn-outline-dark">Back</button>
                        {% else %}
                        <a href="{% url 'workbook_delete' workbook.id %}" class="btn btn-secondary">Delete</a>
                        <button type="submit" name="next" class="btn btn-success">Next</button>
                        <a href="{% url 'workbook_create' %}" class="btn btn-outline-dark">Back</a>
                        {% endif %}
                    </div>
                </form>
                <!-- #フォーム -->
                <!-- 書籍選択 -->
                <p>
                    <table id="BookList" class="table table-striped table-hober table-condensed table-sm">
                        <thread class="sticke-top table-dark" style="z-index:1">
                            <tr>
                                <th>story_by</th>
                                <th>art_by</th>
                                <th>title</th>
                                <th>sub_title</th>
                            </tr>
                        </thread>
                        <tbody id="booklistbody">
                            {% for info in bookinfo %}
                            <tr>
                                <td>{{ info.story_by__author_name }}</td>
                                <td>{{ info.art_by__author_name }}</td>
                                <td>{{ info.title }}</td>
                                <td>{{ info.sub_title }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </p>
                <!-- #書籍選択 -->
            </div>
        </div>
    </div>
    <!-- 画像 -->
    <div class="row_col">
        <div class="card">
            <div class="card-body">
                {% if pdf %}
                <object data="{{ pdf }}" type="application/pdf" width="100%" height="700px">
                    <param name="initZoom" />
                </object>
                {% endif%}
                {% if images %}
                <a href="#" class="save btn btn-outline-dark" onclick="imageView(1)"><i class="bi bi-file-slides"></i></a>
                <a href="#" class="save btn btn-outline-dark" onclick="imageView(2)"><i class="bi bi-grid-fill"></i></a>
                <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for image in images %}
                        {% if image.id == 1 %}
                        <div class="carousel-item active">
                            <img src="{{ image.img_link }}" id="{{ image.id }}" name="{{ workbook.id }}" class="float-left img-fluid" onclick="delete_image({{image.id}},{{workbook.id}})">
                        </div>
                        {% else %}
                        <div class="carousel-item">
                            <img src="{{ image.img_link }}" id="{{ image.id }}" name="{{ workbook.id }}" class="float-left img-fluid" onclick="delete_image({{image.id}},{{workbook.id}})">
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div id="image_list" class="row" style="display: none;">
                    {% for image in images %}
                    <div class="col-sm-3 on_img">
                        <img src="{{ image.img_link }}" id="{{ image.id }}" name="{{ workbook.id }}" class="float-left img-fluid" onclick="delete_image({{image.id}},{{workbook.id}})">
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- #画像 -->
</div>

<script src="https://riversun.github.io/jsframe/jsframe.js"></script>
<script>
    // 行クリックの動作イベントの設定
    $('td').on('click', function () {
        var tr = $(this).closest('tr').children();
        var StoryBy = tr[0].innerText;
        var ArtBy = tr[1].innerText;
        var Title = tr[2].innerText
        var SubTitle = tr[3].innerText

        $('input[id=id_story_by]').val(StoryBy);
        $('input[id=id_art_by]').val(ArtBy);
        $('input[id=id_title]').val(Title);
        $('input[id=id_sub_title]').val(SubTitle);
    });
    function imageView(id){
        if(id == 1){
            $('#carouselExampleControls').show();
            $('#image_list').hide();
        } else {
            $('#carouselExampleControls').hide();
            $('#image_list').show();
        }
    }
    $(function ($) {
        $('#id_genrue_name,#id_story_by,#id_art_by,#id_title,#sub_title').on('change', function () {
            var genrueID = $('select[name*=genrue_name]').val();

            var title = $('input[id*=title').val();
            var subTitle = $('input[id*=sub_title').val();

            var csrf_token = getCookie("csrftoken");
            /// タイトル一覧の取得
            event.preventDefault();
            $.ajax({
                'url': '{% url "book_info" %}',
                'type': 'POST',
                'data': {
                    'genrueID': genrueID,
                    'title': title,
                    'subTitle': subTitle,
                },
                'dataType': 'json',
                // 送信前にヘッダにcsrf_tokenを付与。
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                },
            }).done(function (data) {
                $('#booklistbody > tr').remove()

                data.forEach(function (element) {
                    $('#booklistbody').append('<tr><td>' + element.story_by__author_name + '</td><td>' + element.art_by__author_name + '</td><td>' + element.title + '</td><td>' + element.sub_title + '</td></tr>');
                });
                $('td').on('click', function () {
                    var tr = $(this).closest('tr').children();
                    var StoryBy = tr[0].innerText;
                    var ArtBy = tr[1].innerText;
                    var Title = tr[2].innerText
                    var SubTitle = tr[3].innerText

                    $('input[id=id_story_by]').val(StoryBy);
                    $('input[id=id_art_by]').val(ArtBy);
                    $('input[id=id_title]').val(Title);
                    $('input[id=id_sub_title]').val(SubTitle);
                });
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                console.log('------XMLHttpRequest-----');
                console.log(XMLHttpRequest);
                console.log('-----textStatus-----');
                console.log(textStatus);
                console.log('-----errorThrown-----');
                console.log(errorThrown);
                $('#MessageView').load('~/Views/Shared/Message');
            });
        });
    });
    function delete_image(image_id, workbook_id){
        if(confirm('削除しますか？')){
            var csrf_token = getCookie("csrftoken");
            
            $.ajax({
                'url': '{% url "book_delimage" %}',
                'type': 'POST',
                'data': {
                    'image_id': image_id,
                },
                'dataType': 'json',
                // 送信前にヘッダにcsrf_tokenを付与。
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                },
            }).done(function (data) {
                $('#images').children().remove()
                data.forEach(function(element){
                    console.log(element.id)
                    $('#images').append(
                    '<div class="col-sm-3 on_img">' +
                    '<img src="'+ element.img_link +'" id="' + element.id + '" name="'+ workbook_id +'" class="float-left img-fluid" onclick="delete_image(' + element.id + ',' + workbook_id +')">'
                    + '</div>'
                    );
                });
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                console.log('------XMLHttpRequest-----');
                console.log(XMLHttpRequest);
                console.log('-----textStatus-----');
                console.log(textStatus);
                console.log('-----errorThrown-----');
                console.log(errorThrown);
                $('#MessageView').load('~/Views/Shared/Message');
            });
        }
    }
</script>
{% endblock %}