{% extends 'common/base.html' %}
{% load static %}
{% block content %}
<section class="section">
    <div class="row">
        <form method="POST">
            {% csrf_token%}
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto">
                            <div class="row">
                                <div class="col-3">
                                    <button type="submit" name="list" class="btn btn-outline-secondary">get list</button>
                                </div>
                                <div class="col-2">
                                    <button type="submit" name="setting" class="btn btn-outline-secondary">setting</button>
                                </div>
                                <div class="col-5">
                                    <input type="text" name="txtSearch" value="" class="form-control" />
                                </div>
                                <div class="col-2">
                                    <butoon type="submit" name="search" class="btn btn-success">search</butoon>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-auto">
                                    <input type="text" name="txtReplace_b" class="form-control" />
                                </div>
                                <div class="col-md-auto">
                                    <button type="submit" name="replace" class="btn-warning btn">replace</button>
                                </div>
                                <div class="col-md-auto">
                                    <input type="text" name="txtReplace_a" class="form-control" />
                                </div>
                                <div class="col-md-auto">
                                    <input class="form-check-input" type="checkbox" name="isRegex" id="isRegex">
                                    <label class="form-check-label" for="isRegex">
                                      正規表現で置換
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" name="execute" class="btn-info btn save">execute</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- 一覧 -->
        <div class="card">
            <div class="card-body">
                <table class="table table-sm table-striped table-hober">
                    <thead>
                        <th></th>
                        <th>name</th>
                        <th>book_name</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr>
                            {% for book in Workbooks %}
                        <tr>
                            <td>
                                <div class="btn-group mo-3" role="group">
                                    <a href="#" class="btn btn-sm text-nowrap btn-info"
                                        onclick="setProcess({{ book.id }}, 'Create')">create</a>
                                    <a href="#" class="btn btn-sm text-nowrap btn-light"
                                        onclick="setProcess({{ book.id }}, 'Clear')">clear</a>
                                    <a href="#" class="btn btn-sm text-nowrap btn-danger"
                                        onclick="setProcess({{ book.id }}, 'Delete')">delete</a>
                                </div>
                            </td>
                            <td>{{ book.name }}</td>
                            <td>{{ book.book_name }}</td>
                            <td><a href="{% url 'book_create' book.id %}"
                                    class="btn btn-sm text-nowrap btn-success">edit</a></td>
                            <td><input type="hidden" name="Process" value="{{ book.process }}"></td>
                            <td><input type="hidden" name="ExistFlg" value="{{ book.exist_flg }}"></td>
                            <td><input type="hidden" id="{{ book.id }}"></td>
                        </tr>
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
                <!-- 現在のページ番号と全体のページ数 -->
                <!-- <span>
                    {{ Workbooks.number }} / {{ Workbooks.paginator.num_pages }}
                </span> -->

                <nav aria-label="Page navigation example">
                    <ul class="pagination">

                        {% if Workbooks.has_previous %}
                        <li>
                            <a class="page-link text-primary d-inline-block"
                                href="?page={{ Workbooks.previous_page_number }}"><<</a>
                        </li>
                        {% else %}
                        <li class="disabled">
                            <div class="page-link text-secondary d-inline-block disabled" href="#"><<</div>
                        </li>
                        {% endif %}

                        {% if Workbooks.has_previous %}
                        {% if Workbooks.previous_page_number != 1 %}
                        <li><a class="page-link text-primary d-inline-block" href="?page=1">1</a></li>
                        <li>…</li>
                        {% endif %}
                        <li><a class="page-link text-primary d-inline-block"
                                href="?page={{ Workbooks.previous_page_number }}">{{ Workbooks.previous_page_number }}</a></li>
                        {% endif %}
                        <li class="disabled">
                            <div class="page-link text-secondary d-inline-block disabled" href="#">{{ Workbooks.number }}
                            </div>
                        </li>
                        {% if Workbooks.has_next %}
                        <li><a class="page-link text-primary d-inline-block"
                                href="?page={{ Workbooks.next_page_number }}">{{ Workbooks.next_page_number }}</a></li>
                        {% if Workbooks.next_page_number != Workbooks.paginator.num_pages %}
                        <li>…</li>
                        <li><a class="page-link text-primary d-inline-block"
                                href="?page={{ Workbooks.paginator.num_pages }}">{{ Workbooks.paginator.num_pages }}</a></li>
                        {% endif %}
                        {% endif %}
                        {% if Workbooks.has_next %}
                        <li><a class="page-link text-primary d-inline-block"
                                href="?page={{ Workbooks.next_page_number }}">>></a></li>
                        {% else %}
                        <li class="disabled">
                            <div class="page-link text-secondary d-inline-block disabled" href="#">>></div>
                        </li>
                        {% endif %}

                        <!-- {% if Workbooks.has_previous %}
                        <li class="page-item"><a href="?p={{ Workbooks.previous_page_number }}">Previous</a></li>
                        {% endif %}
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li> -->
                        <!-- 次のページへのリンク -->
                        <!-- {% if Workbooks.has_next %}
                        <li class="page-item"><a href="?p={{ Workbooks.next_page_number }}">Next</a></li>
                        {% endif %} -->
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'js/workbook.js' %}"></script>
<script>
    function setProcess(id, process) {
        event.preventDefault();
        $.ajax({
            'url': '{% url "book_process" %}',
            'type': 'POST',
            'data': {
                'id': id,
                'process': process,
            },
            'dataType': 'json'
        })
            .done(function (response) {
                if (process == 'Create') {
                    $('[id=' + id + ']').closest('tr').css('background-color', '#A4C6FF');
                }
                if (process == 'Delete') {
                    $('[id=' + id + ']').closest('tr').css('background-color', 'gray');
                }
                if (process == 'Clear') {
                    $('[id=' + id + ']').closest('tr').css('background-color', '');
                }
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                console.log('------XMLHttpRequest-----');
                console.log(XMLHttpRequest);
                console.log('-----textStatus-----');
                console.log(textStatus);
                console.log('-----errorThrown-----');
                console.log(errorThrown);
            });;
    }
</script>
{% endblock %}