{% extends 'common/base.html' %}
{% load static %}
{% block content %}
<form method="POST">
    {% csrf_token%}
    <p>
        <div class="row g-1 align-items-sm-start">
            <div class="col-auto">
                <button type="submit" name="list" class="btn form-control btn-outline-secondary">get list</button>
            </div>
            <div class="col-auto">
                <button type="submit" name="setting" class="btn btn-outline-secondary">setting</button>
            </div>
            <div class="col-auto">
                <!-- <select name="scCreated"
                        asp-items="@ViewBag.scCreated"
                        class="form-select">
                </select> -->
            </div>
            <div class="col-sm-5">
                <input type="text" name="txtSearch" value="" class="form-control" />
            </div>
            <div class="col-auto">
                <butoon type="submit" name="search" class="btn btn-success">search</butoon>
            </div>
        </div>
        <button type="submit" name="execute" class="btn-info btn save">execute</button>
    </p>
    <p>
        <div class="row g-1 align-items-sm-start">
            <div class="col-auto">
                <input type="text" name="txtReplace_b" class="form-control" />
            </div>
            <div class="col-auto">
                <button type="submit" name="replace" class="btn-warning btn">replace</button>
            </div>
            <div class="col-auto">
                <input type="text" name="txtReplace_a" class="form-control" />
            </div>
        </div>
    </p>
</form>

<!-- 一覧 -->
<thread class="sticke-top table-dark" style="z-index:1">
    <table class="table table-striped table-hober table-condensed table-sm">
        <tr>
            <th></th>
            <th>name</th>
            <th>book_name</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thread>
    <tbody>
        {% for book in Workbooks %}
        <tr>
            <td>
                <div class="btn-group mo-3" role="group">
                    <a href="#" class="btn btn-sm text-nowrap btn-info" onclick="setProcess({{ book.id }}, 'Create')" >create</a>
                    <a href="#" class="btn btn-sm text-nowrap btn-light" onclick="setProcess({{ book.id }}, 'Clear')">clear</a>
                    <a href="#" class="btn btn-sm text-nowrap btn-danger" onclick="setProcess({{ book.id }}, 'Delete')">delete</a>
                </div>
            </td>
            <td>{{ book.name }}</td>
            <td>{{ book.book_name }}</td>
            <td><a href="{% url 'book_edit' book.id %}" class="btn btn-sm text-nowrap btn-success">edit</a></td>
            <td><input type="hidden" name="Process" value="{{ book.process }}"></td>
            <td><input type="hidden" name="ExistFlg" value="{{ book.exist_flg }}"></td>
            <td><input type="hidden" id="{{ book.id }}"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script src="https://riversun.github.io/jsframe/jsframe.js"></script>
<script src="{% static 'js/workbook.js' %}"></script>   
<script>
    function setProcess(id, process){
        event.preventDefault();
        $.ajax({
                'url': '{% url "book_process" %}',
                'type': 'POST',
                'data': {
                    'id': id,
                    'process': process,
                },
                'dataType': 'json'
        })
        .done(function(response){
            if (process == 'Create') {
                $('[id=' + id + ']').closest('tr').css('background-color', '#A4C6FF');
            }
            if (process == 'Delete') {
                $('[id=' + id + ']').closest('tr').css('background-color', 'gray');
            }
            if(process == 'Clear') {
                $('[id=' + id + ']').closest('tr').css('background-color', '');
            }
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            console.log('------XMLHttpRequest-----');
            console.log(XMLHttpRequest);
            console.log('-----textStatus-----');
            console.log(textStatus);
            console.log('-----errorThrown-----');
            console.log(errorThrown);
        });;
    }
</script>
{% endblock %}
