{% extends 'common/base.html' %}

{% block content %}
<!-- Error Message -->
{% if messages %}
<div class="card">
    <div class="card-body">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <i class="bi bi-exclamation-octagon me-1"></i>
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>
{% endif %}
<!-- #Error Message -->

<div class="card">
    <div class="card-body">
        <h4 class="card-title">{{ video.title }}</h4>
        <div class="row">
            <div class="col-11">
                <!-- autoplay="autoplay" 自動再生の有効化 -->
                <!-- controls            ビデオ再生のコントロールを表示 -->
                <!-- playsinline         インライン再生の有効化 -->
                <video controls autoplay="autoplay" playsinline class="col-12" width="10%">
                    <source src="{{ video.link }}" type="video/mp4" />
                    <source src="{{ video.url }}" type="mkv-video/webm" />
                    <source src="{{ video.url }}" type="video/webm" />
                    <source src="{{ video.url }}" type="video/x-matroska" />
                    Your browser does not support HTML5 video.
                </video>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form mothod="POST">
                    <button type="submit" name="watched" class="btn btn-primary">watched</button>
                    <button type="submit" name="next" class="btn btn-info">next</button>
                    <button type="submit" name="delete" class="btn btn-secondary">delete</button>
                    {% if 'hentai' in request.path %}
                    <a href="{% url 'adult_edit' id=video.id %}" class="btn btn btn-success">edit</a>
                    <a href="/anime/hentai/{{ request.session.sort_code }}" class="save btn btn-outline-dark">back</a>
                    {% else %}
                    <a href="/anime/video/{{ request.session.sort_code }}" class="save btn btn-outline-dark">back</a>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}