{% extends 'common/base.html' %}
{% block content %}

<div class="card">
    <div class="card-body">
        <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-home"
                    type="button" role="tab" aria-controls="home" aria-selected="true">General</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-profile"
                    type="button" role="tab" aria-controls="profile" aria-selected="false">Hentai</button>
            </li>
        </ul>
        <div class="tab-content pt-2" id="borderedTabContent">
            <div class="tab-pane fade show active" id="bordered-home" role="tabpanel" aria-labelledby="home-tab">
                <!-- 一般コミック・小説 -->
                <table class="table table-sm table-striped table-hober table-condensed table-sm">
                    <thread class="sticke-top table-dark" style="z-index:1">
                        <tr>
                            <th>Title</th>
                            <th></th>
                        </tr>
                    </thread>
                    <tbody>
                        {% for model in generals %}
                        <tr>
                            <td>{{ model.name }}</td>
                            <td><a href="{% url 'adult_edit' model.id %}" class="btn btn-sm btn-success">edit</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- #一般コミック・小説 -->
            </div>
            <div class="tab-pane fade" id="bordered-profile" role="tabpanel" aria-labelledby="profile-tab">
                <!-- 成年コミック・小説 -->
                <table class="table table-sm table-striped table-hober table-condensed table-sm">
                    <thread class="sticke-top table-dark" style="z-index:1">
                        <tr>
                            <th>Title</th>
                            <th></th>
                        </tr>
                    </thread>
                    <tbody>
                        {% for model in adults %}
                        <tr>
                            <td>{{ model.name }}</td>
                            <td><a href="{% url 'adult_edit' model.id %}" class="btn btn-sm btn-success">edit</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- #成年コミック・小説 -->
            </div>
        </div>
    </div>
</div>

{% endblock %}