{% extends 'common/base.html' %}
{% block content %}

<div class="card">
    <div class="card-body">
        <!-- 検索 -->
        <div class="row">
            <form method="POST">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col-sm-5"><input type="text" name="txtSearch" value="{{ request.session.txtSearch }}" class="form-control" /></div>
                    <div class="col-sm-2"><button type="submit" name="search" class="btn btn-success">search</button></div>
                </div>
            </form>
        </div>
        <!-- #検索 -->
        <!-- タブヘッダー -->
        <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-home"
                    type="button" role="tab" aria-controls="home" aria-selected="true">General</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-profile"
                    type="button" role="tab" aria-controls="profile" aria-selected="false">Hentai</button>
            </li>
        </ul>
        <!-- #タブヘッダー -->
        <div class="tab-content pt-2" id="borderedTabContent">
            <div class="tab-pane fade show active" id="bordered-home" role="tabpanel" aria-labelledby="home-tab">
                <!-- 一般コミック・小説 -->
                <table class="table table-sm table-striped table-hober table-condensed table-sm">
                    <thread class="sticke-top table-dark" style="z-index:1">
                        <tr>
                            <th>Title</th>
                            <th>Status</th>
                        </tr>
                    </thread>
                    <tbody>
                        {% for model in generals %}
                        <tr>
                            <td><a href="{% url 'series_edit' model.slug %}">{{ model.name }}</a></td>
                            <td>{{ model.status }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- #一般コミック・小説 -->
            </div>
            <div class="tab-pane fade" id="bordered-profile" role="tabpanel" aria-labelledby="profile-tab">
                <!-- 成年コミック・小説 -->
                <table class="table table-sm table-striped table-hober table-condensed table-sm">
                    <thread class="sticke-top table-dark" style="z-index:1">
                        <tr>
                            <th>Title</th>
                        </tr>
                    </thread>
                    <tbody>
                        {% for model in adults %}
                        <tr>
                            <td><a href="{% url 'series_edit' model.slug %}" >{{ model.name }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- #成年コミック・小説 -->
            </div>
        </div>
    </div>
</div>
{% endblock %}