{% extends 'common/base.html' %}
{% block content %}
<!-- Error Message -->
{% if messages %}
<div class="card">
    <div class="card-body">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <i class="bi bi-exclamation-octagon me-1"></i>
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>
{% endif %}
<!-- #Error Message -->

<section class="secion">
    {% csrf_token %}
    <!-- メイン -->
    <div class="card">
        <div class="card-body">
            <!-- ボタン -->
            <p>
                <a href="{% url 'book_webscrap' %}" class="btn btn-success" onclick="spiners(this)">top 10 Scraping</a>
            </p>
            <!-- #ボタン -->
        </div>
        <!-- コミック -->
        {% if comics %}
        <div class="card-body">
            <table class="table table-sm table-striped table-gradation">
                <thead class="sticke-top">
                    <tr>
                        <td>Comic</td>
                        <td>torrent title</td>
                    </tr>
                </thead>
                <tbody>
                    {% for comic in comics%}
                    <tr>
                        <td>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalDialogScrollable"
                                onclick="getModalData('{{comic.series_name}}', 1)">
                                {{ comic.series_name }}
                            </a>
                        </td>
                        <td><a href="{% url 'check_nyaa_download' pk=comic.torrent__torrent_link %}">
                                {{ comic.torrent__title }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        <!-- #コミック -->

        <!-- 小説 -->
        {% if novels %}
        <div class="card-body">
            <table class="table table-sm table-striped table-gradation">
                <thead class="sticke-top">
                    <tr>
                        <td>Novel</td>
                        <td>torrent title</td>
                    </tr>
                </thead>
                <tbody>
                    {% for novel in novels %}
                    <tr>
                        <td>{{ novel.series_name }}</td>
                        <td>{{ novel.torrent__title }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        <!-- #小説 -->

        <!-- 成年コミック -->
        {% if adults %}
        <div class="card-body">
            <table class="table table-sm table-striped table-gradation">
                <thead class="sticke-top">
                    <tr>
                        <td>Adult</td>
                        <td>torrent title</td>
                    </tr>
                </thead>
                <tbody>
                    {% for adult in adults %}
                    <tr>
                        <td>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalDialogScrollable"
                                onclick="getModalData('{{adult.series_name}}', 3)">
                                {{ adult.series_name }}
                            </a>
                        </td>
                        <td><a href="{% url 'check_sukebei_download' pk=adult.torrent__torrent_link %}">
                                {{ adult.torrent__title }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        <!-- #成年コミック -->
    </div>
    <!-- #メイン -->

    <!-- Modal Dialog Scrollable -->
    <div class="modal fade" id="modalDialogScrollable" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table id="bookList" class="table table-sm table-striped table-gradation">
                        <thead>
                            <tr>
                                <td>book name</td>
                            </tr>
                        </thead>
                        <tbody id="booklistbody"></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Dialog Scrollable-->
</section>
{% load static %}
<script>
    function getModalData(series_name, genrue_id) {
        var csrf_token = getCookie("csrftoken");
        $.ajax({
            'url': '{% url "book_list" %}',
            'type': 'POST',
            'data': {
                'series_name': series_name,
                'genrue_id': genrue_id
            },
            'dataType': 'json',
            // 送信前にヘッダにcsrf_tokenを付与。
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            },
        }).done(function (data) {
            // 全行削除
            $('#booklistbody > tr').remove()
            // 取得データ追加
            data.forEach(function (element) {
                $('#booklistbody').append('<tr><td><a target="_blank" href="/book/check/booklist/edit/' + element.slug + '" >' + element.book_name + '</a></td></tr>');
            });
        }).fail(function (XMLHttprequest, textStatus, errorThrown) {
            console.log('------XMLHttpRequest-----');
            console.log(XMLHttpRequest);
            console.log('-----textStatus-----');
            console.log(textStatus);
            console.log('-----errorThrown-----');
            console.log(errorThrown);
        });
    }
</script>
{% endblock %}