{% extends 'common/base.html' %}
{% block content %}
<section class="secion">
    <div class="card">
        <div class="card-body">
            <p>
                <a href="{% url 'nyaa_webscrap' %}" class="btn btn-success" onclick="spiners(this)">Web scraping</a>
            </p>
            <!-- Book downloade list -->
            <table class="table table-sm table-striped">
                <thread class="sticke-top table-dark">
                    <tr>
                        <th>book downloaded title</th>
                        <th>regist date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for torrent in torrents %}
                    <tr>
                        <td><a href="{% url 'nyaa_download' pk=torrent.torrent_link %}">{{ torrent.title }}</a></td>
                        <td>{{ torrent.regist_date|date:"y/m/d" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- # Book downloade list -->
        </div>
    </div>
</section>
{% load static %}
{% endblock %}